@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*{
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
}
.col-5 {
  background: url("../images/charles-rRWiVQzLm7k-unsplash.jpg");
  background-position: center;
  background-size: cover;
  z-index: -1;
  position: relative;
}
.col-5::before {
  content: " ";
  position: absolute;
  background-color: #19345E;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  opacity: 0.6;
}
.col-5 img {
  z-index: 10;
}

.col-7{
  padding: 33px 115px;
  color: #19345E;

}

.col-7 form label {
  font-size: 20px;
}
.col-7 form input{ 
  padding: 17px 23px ;
  font-size: 18px;
 
  
}
.col-7 form input:focus,
.col-7 form textarea:focus,
.col-7 form select:focus
{
  outline: none;
  box-shadow: none;
  border: 2px solid #19345E;
}
.col-7 form input::placeholder{
  color: #D5D5D5;
}
.col-7 form select {
  font-size: 18px;
  padding: 17px 23px ;

}
.col-7 .required::after {
  content: "*";
  color: red;
}
.col-7 form button {
  background-color: #F47522;
  color: white;
  padding: 11px 50px;
  border-radius: 25px;
}
.col-7 textarea {
  height: 120px;
  resize: none;
  padding: 17px 23px ;
  
}
